<!DOCTYPE html>

<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Quote Generator API and demo site">
    <link rel="icon" href="https://v4-alpha.getbootstrap.com/favicon.ico">
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <title>Compression</title>

    <!-- Custom styles for this template -->


    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}"/>

    <link rel="stylesheet" href="{{ url_for('static', filename='cover.css') }}"/>

<body>

<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="cover-container">

            <div class="masthead clearfix">
                <div class="inner">
                    <a class="center" style="text-decoration: none; font-size: x-large"
                       href="http://0.0.0.0:8080/">Huffman Compression</a>
                </div>
            </div>

            <div class="inner cover">
                    <h3 class="cover-heading"> Active Users </h3>
                    <br>
                    <div class="form-group">
                        <form action=" {{ url_for('getFile') }} " method="post" enctype = "multipart/form-data">
                            {% for user in my_list %}
                            <div class="radio"> <label><input type="radio" name="optradio" value={{user}}> {{user}}</label></div>
                            {% endfor %}
    
                            <small id="keywordHelp" class="form-text text-muted">Select one of active users to send file
                            </small>
                            <input type="file" name="file" accept=".txt">
                            <input type="submit">
                            </form>
    
                        <p> {{ prompt }}</p>
                    </div>
                    {{ sender }}
                    {{ decodedText }}
            </div>
        </div>
    </div>
</div>

</body>
</html>